@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');
:root{
    --Grayish-blue: hsl(237, 18%, 59%);
    --Soft-red: hsl(345, 95%, 68%);
    
    --White: hsl(0, 0%, 100%);
    --Dark-desaturated-blue: hsl(236, 21%, 26%);
    --Very-dark-blue: hsl(235, 16%, 14%);
    --Very-dark-mostly-black-blue: hsl(234, 17%, 12%);

    --shadow: hsl(240, 17%, 12%);
    --arriba: #2b2b44;
    --abajo: hsl(236, 21%, 26%);
}
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    background-image: url(./images/pattern-hills.svg), url(./images/bg-stars.svg);
    background-color: var(--Very-dark-blue);
    background-repeat: no-repeat;
    background-size: 100% 20%, cover ;
    background-position: bottom;

    display: flex;
    justify-content: center;

}
.container{
    max-width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 108px;
    margin-top: 8.75%;
    margin-bottom: 70px;
}   

.title{
    margin-top: 8.75%;
    color: var(--White);
    letter-spacing: 6px;
    font-size: 22px;
}
.timer{
    color: var(--Grayish-blue);
    flex-grow: 1;
    display: flex;
    gap: 2rem;
}
.component{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.box{
    width: 148px;
    height: 140px;
    background-color: var(--Very-dark-mostly-black-blue);
    border-radius: 8px;
    box-shadow: 0px 10px 0px var(--Very-dark-mostly-black-blue);
    position: relative;
}
.box::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 50%;
    left: 0%;
    background-color: hsl(235, 16%, 14%, 0.25);

}
.boxtop,.boxbottom{
    height: 50%;
    position: relative;
    overflow: hidden;
}
.boxtop{
    background-color: hsl(236, 21%, 26%, 0.70);
    border-radius: 8px 8px 0px 0;
}
.boxbottom{
    background-color: var(--Dark-desaturated-blue);
    border-radius: 0px 0px 8px 8px;
}
.boxtop::after,.boxbottom::after{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    top: 100%;
    left: 0%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%;
    background-color: var(--Very-dark-mostly-black-blue);
}
.boxtop::after{
    top: 100%;
}
.boxbottom::after{
    top: 0%;
}
.boxtop::before,.boxbottom::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    top: 100%;
    right: 0%;
    transform: translateX(50%) translateY(-50%);
    border-radius: 50%;
    background-color: var(--Very-dark-mostly-black-blue);
}
.boxtop::before{
    top: 100%;
}
.boxbottom::before{
    top: 0%;
}
.number{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: var(--Soft-red);
    font-size: 64px;
}
.component-name{
    font-size: 14px;
    letter-spacing: 5px;
}
footer{         
    display: flex;
    gap: 2rem;
    justify-content: center;
}
footer a{
    color: var(--Grayish-blue);
}
footer a:hover{
    color: var(--Soft-red);
}
@media screen and (max-width: 768px){
    body{

        background-size: 100% 22%, cover ;
        background-position: bottom;
    }
    .component{
        gap: 1rem;
    }
    .container{
        margin-top: 70px;
        margin-bottom: 40px;
    } 
    .box{
        width: 70px;
        height: 66px;
        box-shadow: 0px 5px 0px var(--Very-dark-mostly-black-blue);
    }
    .title{
        margin-top: 70px;
        font-size: 18px;
        padding-inline: 1rem;
        text-align: center;
    }
    .number{
        font-size: 32px;
    }
    .component-name{
        font-size: 8px;
        letter-spacing: 3px;
    }
    .timer{
        gap: 1rem;
    }

}